@import 'templates.scss';
.block {
    &__first {
        @extend %block;
        //фон и сделать затемнение фона(уменьшить прозрачность к черному)
        background: url('/img/background.png') center center / cover no-repeat;
        background-blend-mode: multiply;
        background-color: rgba(28, 28, 28, 0.6);

        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__second {
        @extend %block;
        display: flex;
        flex-direction: row;
        color: white;
        gap: 230px;
    }
}

.info {
    padding: 40px;
    padding-right: 0px;
    color: #bbbbbb;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &__title {
        @extend %title;
        font-size: 40px;
    }
    &__text {
        @extend %description;
        display: flex;
        gap: 40px;
        flex-direction: column;
        max-width: 900px;
    }
}

.header{
    display: flex;
    gap: 13px;
    flex-direction: column;
    max-width: 436px;
    &__links{
        display: flex;
        justify-content: space-between;
        max-width: 436px;
    }
    &__link{
        font-family: "Nunito Sans", sans-serif;
        font-optical-sizing: auto;
        font-size: 16px;
        font-weight: 500;
        color: #bbbbbb;
        transition: all 0.3s;

        &:hover{
            color: antiquewhite;
            scale: 1.1;
        }
    }
}

.services{
    width: 100%;
    height: 100vh;
    &__grid{
        display: grid;
        grid-template-columns: 57% 43%;
        grid-template-rows: 41% 59%;
        height: 100vh;
    }
    &__grid-item{
        &:nth-child(1){
            grid-row-start: 1;
            grid-row-end: 3;

            background: url('/img/second-block/grid-1.png') center center / cover no-repeat;
        }
        &:nth-child(2){
            background: url('/img/second-block/grid-2.png') center center / cover no-repeat;
        }
        &:nth-child(3){
            
            background-image: url('/img/second-block/grid-3.png');
            
        }
    }

    &__title{
        @extend %title;
        font-size: 30px;
    }
    &__description{
        @extend %description;
        width: 90%;
    }

    &__overlay-1{
        @extend %overlay;
        background-color: rgba(8, 36, 63, 0.6);
    }
    &__overlay-2{
        @extend %overlay;
        background-color: rgba(8, 36, 63, 0.5);
    }
    &__overlay-3{
        @extend %overlay;
        background-color: rgba(181, 63, 59, 0.7);
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    &__button{
        transition: all 0.3s;
        &:hover{
            scale: 1.1;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    

    
}